# Solucionando problemas de Regresion en ML usando 

Machine learning es una rama de la inteligencia artificial, que permite a los programas de computadora aprender automaticamente y mejorar de la experiencia.

Los algoritmos de ML aprenden de datasets y luego hacen predicciones basados en patrones.

Se pueden categorizar en dos tipos, supervisados y no supervisados.

Los algoritmos supervisados son aquellos donde el dataset de entrada y la correspondientes salida o prediccion verdadera estan habilitados, o sea, el argoritmo trata de encontrar relaciones entre entradas y salidas.

Los no supervisados nose se conocen los valores verdaderos, en cambio el algoritmo trata de encontrar patrones similares en los datos. Un ejemplo tipico son los de clusterizacion.

Los algoritmos de regresion preciden valores continuos, por ejemplo el precio de una casa, la presion en sangre de una persona, una puntuacion particular en el examen de algun estudiante.
Por el otro lado los algoritmos de clasificacion preciden un valor discreto, como por ejemplo si un alumno va a pasar o no un examen.

## Preparando los datos para problemas de regresion

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.get_dataset_names() # Con esta funcion podemos ver los datasets que tiene integrado seaborn

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [2]:
tips_df = sns.load_dataset("tips")
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Se va a trabajar con el dataset de propinas, y se utilizara algoritmos de machine learning para predecir la propina por un registro particular, basado en las caracteristicas restantes como "total_bill", "sex", "day", "time", etc

In [5]:
# Dividiendo datos entre caracteristicas y etiquetas

X = tips_df.drop(["tip"],axis=1)
y = tips_df["tip"]

X.head()

   total_bill     sex smoker  day    time  size
0       16.99  Female     No  Sun  Dinner     2
1       10.34    Male     No  Sun  Dinner     3
2       21.01    Male     No  Sun  Dinner     3
3       23.68    Male     No  Sun  Dinner     2
4       24.59  Female     No  Sun  Dinner     4

In [6]:
y.head()

0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
Name: tip, dtype: float64

In [7]:
# Conversion de datos categoricos en numeros

"""
Los algoritmos de machine learning en su mayor parte, solo puedn trabajar con numeros.
De tal manera es importante convertir los datos categoricos en formato numerico.
"""

numerical = X.drop(["sex",'smoker','day','time'], axis=1)
numerical.head()

   total_bill  size
0       16.99     2
1       10.34     3
2       21.01     3
3       23.68     2
4       24.59     4